.services {
    margin-top: 30px;
    margin-bottom: 40px;
}
.services .container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.services .container .item {
    border: 2px solid var(--gold-color);
    border-radius: 30px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .container .item .service-icon {
    font-size: 20px;
    margin-right: 5px;
    color: var(--primary-color);
}