.parent {
    min-height: calc(100vh - 100px);
    position: relative;
    background-image: url(../../images/login_register.jpg);
    background-size: cover;
    background-position: center;
}
.parent form {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--secondary-color);
    padding: 30px 20px;
    border-radius: 20px;
}
.parent form input {
    padding: 10px;
    border: none;
}
.parent form button {
    border: none;
    padding: 8px 0;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--gold-color);
    font-weight: 600;
    font-size: 17px;
}

@media (max-width: 767px) {
    .parent form {
        width: 270px;
    }
}