/* Global Styles */
:root {
    --primary-color: #007a3d;
    --secondary-color: #f7c552;
    --gold-color: #ffd700;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}
input:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.container {
    margin-inline: auto;
    padding-inline: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}